<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    
    <h5 class="quote text-light">{{loginDate | date:'fullDate'}}</h5>
    
    <span class="quote text-light">
        <button class="btn btn-warning" (click)="logout()">LogOut</button>
        Welcome {{user}} 
    </span>
    
  </nav>
  
  
  <!-- <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">Deposit</h3>
                  
              </div>
              <div class="card-body">
                  <form (ngSubmit)="deposit()">


                    
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" name="acno" [(ngModel)]="acno" class="form-control" placeholder="Enter Account number" id="login_accno" required>
                          
                      </div>
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password" [(ngModel)]="pswd" name="pswd" class="form-control" placeholder="Password" id="login_password" required>
                      </div>

                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="amount" [(ngModel)]="amount" class="form-control" placeholder="Enter amount" id="login_amnt" required>
                        
                    </div>
                      
                      <div class="form-group">
                          <input type="submit"  value="Deposit" class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div> -->


<div class="row mt-5">
    <!-- <appHighlight></appHighlight> -->
    <div class="container col-md-6 mt-0">      
        
        <div class="d-flex justify-content-center h-100">
        <div [ngClass]="acno? 'style' : '' " class="card">
            <div class="card-header">
                <h3 appHighlight class="text-center">Deposit</h3>
                
            </div>
            <div class="card-body">
                <form [formGroup]="depositForm" (ngSubmit)="deposit()">


                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="dacno" formControlName="dAcno" class="form-control" placeholder="Enter Account number" id="login_accno" required>
                        
                    </div>
                    <div *ngIf="this.depositForm.get('dAcno')?.errors&&this.depositForm.get('dAcno')?.touched" style="color: red;">invalid password</div>

                    
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" formControlName="dPswd" name="dpswd" class="form-control" placeholder="Password" id="login_password" required>
                    </div>
                    <div *ngIf="this.depositForm.get('dPswd')?.errors&&this.depositForm.get('dPswd')?.touched" style="color: red;">invalid password</div>

                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" name="damount" formControlName="dAmount" class="form-control" placeholder="Enter amount" id="login_amnt" required>
                      
                  </div>
                  <div *ngIf="this.depositForm.get('dAmount')?.errors&&this.depositForm.get('dAmount')?.touched" style="color: red;">invalid password</div>

                    
                    <div class="form-group">
                        <input type="submit"  value="Deposit" class="btn float-right login_btn " style="width:50%" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container col-md-6 mt-0">      
    <div class="d-flex justify-content-center h-100">
        <div [ngClass]="acno? 'style' : '' " class="card">
            <div class="card-header">
                <h3 appHighlight class="text-center">Withdraw</h3>
                
            </div>
            <div class="card-body">
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">


                  
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="wacno" formControlName="wAcno" class="form-control" placeholder="Enter Account number" id="login_accno" required>
                        
                    </div>
                    <div *ngIf="this.withdrawForm.get('wAcno')?.errors&&this.withdrawForm.get('wAcno')?.touched" style="color: red;">invalid password</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" formControlName="wPswd" name="wpswd" class="form-control" placeholder="Password" id="login_password" required>
                    </div>
                    <div *ngIf="this.withdrawForm.get('wPswd')?.errors&&this.withdrawForm.get('wPswd')?.touched" style="color: red;">invalid password</div>


                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" name="wamount" formControlName="wAmount" class="form-control" placeholder="Enter amount" id="login_amnt" required>
                      
                  </div>
                  <div *ngIf="this.withdrawForm.get('wAmount')?.errors&&this.withdrawForm.get('wAmount')?.touched" style="color: red;">invalid password</div>

                    
                    <div class="form-group">
                        <input type="submit"  value="Withdraw" class="btn float-right login_btn " style="width:50%" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>

<div class="row mt-5">
   <div class="container">
    <div class="col-4">
        <h4><a routerLink="/transactions" style="color: white;">Transactions History</a></h4>
        <app-animation></app-animation>
    </div>
    <div class="col-4"></div>
   
   </div>
</div>
<app-delete></app-delete>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-8">
            <button class="btn btn-danger" (click)="deleteFromParent()" style="float: right;">Delete</button>
                <app-delete (onDelete)="onDelete($event)" (onCancel)="onCancel()" [item]=acno></app-delete>
        </div>
    </div>
</div>
  


