<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    
  </nav>
  
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">Sign Up</h3>
                  
              </div>
              <div class="card-body">
                  <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="uname" formControlName="uname" class="form-control" placeholder="Enter user name" id="login_uname" required>
                        
                    </div>
                    <div *ngIf="this.registerForm.get('uname')?.errors&&this.registerForm.get('uname')?.touched" style="color: red;">invalid username</div>

                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" name="acno" formControlName="acno" class="form-control" placeholder="Enter Account number" id="login_accno" required>
                          
                      </div>
                      <div *ngIf="this.registerForm.get('acno')?.errors&&this.registerForm.get('acno')?.touched" style="color: red;">invalid Account number</div>

                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password" formControlName="pswd" name="pswd" class="form-control" placeholder="Password" id="login_password" required>
                      </div>
                      <div *ngIf="this.registerForm.get('pswd')?.errors&&this.registerForm.get('pswd')?.touched" style="color: red;">invalid password</div>

                      
                      <div class="form-group">
                          <input type="submit"  value="Register" class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
              <p style="color:white;align-items:baseline;">Already have an acoount? <a routerLink="">Login</a></p>
          </div>
      </div>
  </div>

